<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >

<mapper namespace="com.wdg.dao.OrderDAO">
	<!-- <resultMap type="map" id="getOrderItem">
           <result property="id" column="id" />
           <result property="count" column="buynum"/>
		
           <collection property="cartItems" column="id" javaType="list" select="getOrderItems"/>
    </resultMap>
	<select id="getOrderItems"  parameterType="Map"  resultMap="getSelfTestAnswersMap">
15         select id, title_id titleId, question, view_order viewOrder
16         from self_test_question
17         where title_id = #{id}
18   </select>  -->
	<select id="getOrderList" parameterType="Map" resultType="Order">
		   select * from order1
		   <where>
		   <if test="user!=null  ">
				and user_id = #{user.id}
			</if>
		    <if test="orderNo!=null and orderNo!='' ">
				and orderNo like #{orderNo}
			</if>
		   </where>
		   <if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<select id="getTotal" parameterType="Map" resultType="Long">
		   select count(*) from order1
		   <where>
		    <if test="orderNo!=null and orderNo!='' ">
				and orderNo like #{orderNo}
			</if>
		   </where>
		   <if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
   	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="Order" >
   		insert into order1 values(null,#{orderNo},#{money},#{date},#{state},#{yonghu},#{address},#{user.id});
   	</insert>
</mapper>
